# dependencies
/node_modules

# next.js
/.next/
/public/vendor/monogatari/
/out/

# production
/build

# local environment files
.env*
!.env.example

# testing and tooling
/coverage
*.tsbuildinfo

# OS / editor
.DS_Store
*.pem
.vercel
supabase/.temp/
